/* body{
    top:0 !important;
}
.goog-te-banner-frame {
    display: none;
    height: 0 !important;
    visibility: hidden
}

#google_translate_element {
    display: none;
} */
/* .goog-te-gadget span a {
    display: none;
  }  */

  .goog-te-gadget img{
    display:none !important;
}
body > .skiptranslate {
    display: none;
}
body {
    top: 0px !important;
}